<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link rel='shortcut icon' href="{{asset_url('/assets/pictures/icons/chest.png')}}" type='image/x-icon'>


    <link rel="stylesheet" href="{{asset_url('/assets/styles/header.css')}}">
    <link rel="stylesheet" href="{{asset_url('/assets/styles/footer.css')}}">
    <link rel="stylesheet" href="{{asset_url('/assets/styles/register.css')}}">
    <link rel='stylesheet' href="{{asset_url('/assets/styles/fonts.css')}}">

    <title>{{page_name}}</title>
</head>

<body>
    {% include "blocks/header.twig" with{
         "user" : "user" 
        } 
    %}

    <main>

        {% if message is not null %}
            <h1 class="alert" role="alert">{{message}}</h1>
        {% endif %}

        <form method="post" action="/register-post">
            <div class="form_group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form_control" id="username" placeholder="Введите ник"
                 value="{{ form_data ? form_data.username  }}"/>
            </div>

            <div class="form_group">
                <label for="email">Email</label>
                    <input type="text" name="email" class="form_control" id="email" placeholder="Введите Email"
                        aria-describedby="emailHelp" value="{{ form_data ? form_data.email }}"/>
                    <small id="emailHelp" class="form_text">Я точно не смогу взломать ваш Email</small>
            </div>

            <div class="form_group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form_control" id="password"
                    placeholder="Введите пароль" value=""/>
            </div>

            <div class="form_group">
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirm_password" class="form_control" id="confirm_password"
                    placeholder="Введите пароль" />
            </div>

            <button type="submit" class="btn register_btn">Регистрация</button>
        </form>
    </main>

    {% include "blocks/footer.twig" %}

    {% include "blocks/common_scripts.twig" %}
</body>

</html>