{% extends "slider/slider_simple_slide.twig" %}


{% block picture %}
{{parent()}}
{% endblock %}

{% block name %}
{{parent()}}
{% endblock %}

{% block description %}
{{parent()}}
{% endblock %}

{% block animations %}
<div class='enemy_anim_container'>
    <ul>
        <li>
            <div class='enemy_anim_background'>
                <img class='enemy_anim' src='{{base_path}}/assets/pictures/gifs/{{enemy_gif1}}' alt="">
            </div>

        </li>
        <li>
            <div class='enemy_anim_background'>
                <img class='enemy_anim' src='{{base_path}}/assets/pictures/gifs/{{enemy_gif2}}' alt="">
            </div>
        </li>
        <li>
            <div class='enemy_anim_background'>
                <img class='enemy_anim' src='{{base_path}}/assets/pictures/gifs/{{enemy_gif3}}' alt="">
            </div>
        </li>
    </ul>
</div>
{% endblock %}